/node_modules/
/public/build/
/App/build/

.DS_Store
package-lock.json
**/.idea
**/*.lock
**/*.log
ios/App/App/capacitor.config.json
ios/App/Podfile
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
