@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('./fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: RobotoMedium;
    src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('./fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoBlack;
    src: url('./fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: RobotoThin;
    src: url('./fonts/Roboto/Roboto-Thin.ttf');
}

form {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }

*,
*:before,
*:after {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.shadow {
    box-shadow: 0px 3px #8888884a;
}

.leftShadow {
    box-shadow: 3px 4px #8888884a;
}

.rightShadow {
    box-shadow: -3px 4px #8888884a;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    overscroll-behavior: none;
    max-height: 100%;
    padding: 0;
    margin: 0;
    color: #333;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    max-height: 100%;
    padding-top: 1px;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

h1,
h2,
h3,
h4,
h5,
b {
    font-family: RobotoMedium;
}

img {
    object-fit: cover;
}